{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Articles:</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td scope="row">{{article.title}}</td>
                    <td class="text-truncate" style="max-width: 150px;">{{article.content}}</td>
                    <td>{{article.createdAt|date("d/m/Y")}}</td>
                    <td>{{article.updatedAt|date("d/m/Y")}}</td>
                    <td>
                        <span class="text-info cursor-pointer" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Show">
                            <i class="bi bi-eye"></i>
                        </span>
                        <span class="text-warning cursor-pointer" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Edit">
                            <i class="bi bi-pencil"></i>
                        </span>
                        <span class="text-danger cursor-pointer" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Delete">
                            <i class="bi bi-trash"></i>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}