{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Articles:</h1>

    <div class="row">
    {% for article in articles %}
        <div class="col-4">
            <div class="card shadow rounded cursor-pointer" onclick="window.location='{{ path("article_show", {id: article.id}) }}'">
                <div class="card-body flex flex-column">
                    <div class="d-flex justify-content-center image-card">
                        <img src="{{asset('images/articles/' ~ article.imageName)}}"></img>
                    </div>
                    <h3>{{article.title}}</h3>
                    <div class="row">
                        <span>
                            {{article.content|u.truncate(150, '...')}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}