{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="float">
        <button class="btn btn-light"><a class="text-reset text-decoration-none" href="{{ path('admin_article_index') }}">Back to list</a></button>

        {{ include('admin/article/_delete_form.html.twig') }}
    </div>
{% endblock %}
