{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

    {{ include('admin/article/_form.html.twig') }}

    <button class="btn btn-light">
        <a class="text-black text-decoration-none" href="{{ path('admin_article_index') }}">back to list</a>
    </button>
{% endblock %}
